.container{
    margin-top: 70px;
    margin-left: 80px;
    position: relative;
    z-index: 2;
}

body {
    background-color: #F8F8F0;
}

@font-face {
    font-family: Truenolight;
    src: url(../font/truenolt.otf)
}

@font-face {
    font-family: Truenosemibold;
    src: url(../font/truenosbd.otf)
}

.logo h3{
    float: right;
}
.logo{
    margin-top: 20px;
    margin-left: 60px;
}
h1, button {
    font-family: Truenosemibold;
}

h2,h3 {
    font-family: Truenolight;
}

.judul1 {
    margin-bottom: 50px;
}

.judul2 {
    margin-bottom: 60px;
}

.judul3 {
    margin-top: 100px;
}



#rec-bg{
    width: 520px;
    height: 450px;
    background-color: white;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    margin-left: 80px;
    margin-top: 50px;
    opacity: 70%;
}

.btn {
    margin-top: 20px;
    margin-left:15px;
    width: 100px;
}

.img-right1 {
    width: 750px;
    height: 750px;
    margin-top: -110px;
    margin-left: -110px;
    position: absolute;
    z-index: 1;
}

.img-right2 {
    margin-left: -40px;
    position: relative;
    z-index: 2;
}